{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>germandv</title>
    <meta name="description" content="Programming things, mostly web related." />
    <meta
      name="keywords"
      content="programming, development, go, rust, typescript, javascript, react, fullstack"
    />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body class="gruvbox">
    <main>
      <div class="index">
        <h1>Programming Things Blog</h1>
        <ul class="post-list">
          {{range .}}
          <li>
            <a href="/blog/{{.Link}}">{{.Title}} &rarr;</a>
            <br />
            <span>{{.DateDisplay}}</span>

            <div class="tags">
              {{range .Tags}}
                <img src="/assets/logos/{{.}}.png" alt="{{.}}" width="50" />
              {{end}}
            </div>
          </li>
          {{end}}
        </ul>
      </div>
    </main>
    {{template "footer"}}
  </body>
</html>
{{end}}
