{{define "body"}}
<main>
  <time datetime="2022-10-17">October 17, 2022</time>
  <h1>This is the title</h1>
  Or inline code like <code>const foo = "bar";</code>.
  <p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. <strong>Officiis nulla culpa, ratione quibusdam voluptatum eos saepe facere, corporis illo iusto, voluptas commodi veniam blanditiis quidem molestias voluptatem quam sit repellat!</strong>
  Voluptatum animi aut rem impedit, hic explicabo? <em>Nesciunt tempore molestias mollitia necessitatibus pariatur recusandae a, dolorem ipsam suscipit velit maiores alias atque? Soluta, molestiae qui dicta atque voluptatibus distinctio</em> libero.
  Obcaecati distinctio blanditiis tempora. Deserunt magnam, assumenda ab corporis natus ipsam odit libero culpa. Iure, recusandae ex! Eaque totam mollitia voluptatibus quibusdam veritatis, alias quis, fuga, id odit aperiam facilis?
  Ex earum blanditiis esse error accusantium natus ducimus fuga! Voluptatem consequuntur repudiandae nihil quae, at numquam est architecto neque odit. Earum optio recusandae provident, aut placeat mollitia fugit cum quos.
  Pariatur, quod! Blanditiis illo velit officia quod molestiae libero nisi, minima quia. Itaque sapiente suscipit, similique fugit voluptatum consequatur ea corrupti ex omnis illo, modi deserunt praesentium mollitia nemo dignissimos.
    <a href="https://debian.org">Some link here</a>.
  </p>
  <p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis nulla culpa, ratione quibusdam voluptatum eos saepe facere, corporis illo iusto, voluptas commodi veniam blanditiis quidem molestias voluptatem quam sit repellat!
  Voluptatum animi aut rem impedit, hic explicabo? Nesciunt tempore molestias mollitia necessitatibus pariatur recusandae a, dolorem ipsam suscipit velit maiores alias atque? Soluta, molestiae qui dicta atque voluptatibus distinctio libero.
  Obcaecati distinctio blanditiis tempora. Deserunt magnam, assumenda ab corporis natus ipsam odit libero culpa. Iure, recusandae ex! Eaque totam mollitia voluptatibus quibusdam veritatis, alias quis, fuga, id odit aperiam facilis?
  Ex earum blanditiis esse error accusantium natus ducimus fuga! Voluptatem consequuntur repudiandae nihil quae, at numquam est architecto neque odit. Earum optio recusandae provident, aut placeat mollitia fugit cum quos.
  Pariatur, quod! Blanditiis illo velit officia quod molestiae libero nisi, minima quia. Itaque sapiente suscipit, similique fugit voluptatum consequatur ea corrupti ex omnis illo, modi deserunt praesentium mollitia nemo dignissimos.
  </p>
  <pre><code class="lang-js"><span class="hljs-keyword">const</span> foo = <span class="hljs-string">'bar'</span>;<span></span>
    <span class="hljs-function">
  <span class="hljs-keyword">function</span> <span class="hljs-title">baz</span> <span class="hljs-params">(s)</span></span> {
    <span class="hljs-keyword">return</span> foo + <span class="hljs-string">':'</span> + s;
  }</code></pre>
  <p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis nulla culpa, ratione quibusdam voluptatum eos saepe facere, corporis illo iusto, voluptas commodi veniam blanditiis quidem molestias voluptatem quam sit repellat!
  Voluptatum animi aut rem impedit, hic explicabo? Nesciunt tempore molestias mollitia necessitatibus pariatur recusandae a, dolorem ipsam suscipit velit maiores alias atque? Soluta, molestiae qui dicta atque voluptatibus distinctio libero.
  Obcaecati distinctio blanditiis tempora. Deserunt magnam, assumenda ab corporis natus ipsam odit libero culpa. Iure, recusandae ex! Eaque totam mollitia voluptatibus quibusdam veritatis, alias quis, fuga, id odit aperiam facilis?
  Ex earum blanditiis esse error accusantium natus ducimus fuga! Voluptatem consequuntur repudiandae nihil quae, at numquam est architecto neque odit. Earum optio recusandae provident, aut placeat mollitia fugit cum quos.
  Pariatur, quod! Blanditiis illo velit officia quod molestiae libero nisi, minima quia. Itaque sapiente suscipit, similique fugit voluptatum consequatur ea corrupti ex omnis illo, modi deserunt praesentium mollitia nemo dignissimos.
  </p>
</main>
{{end}}
