{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>germandv</title>
  <meta name="description" content="Programming things, mostly web related.">
  <meta name="keywords" content="programming, development, go, rust, typescript, javascript, react, fullstack">
  <link rel="stylesheet" href="/blog/assets/main.css">
</head>
<body class="gruvbox">
  <main>
      <div class="index">
        <h1>Programming Things</h1>
        <ul>
            {{range $entry := .}}
                <li>
                    <a href="/blog/{{$entry.Link}}">{{$entry.Title}} &rarr;</a>
                </li>
             {{end}}
        </ul>
      </div>
  </main>
  {{template "footer"}}
  <script>hljs.highlightAll();</script>
</body>
</html>
{{end}}
