{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="programming, development, go, rust, typescript, javascript, react, fullstack">
  <meta name="description" content="{{.Excerpt}}">
  <title>germandv: {{.Title}}</title>
  <link rel="shortcut icon" href="/blog/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/blog/assets/main.css">
  <link rel="stylesheet" href="/blog/assets/github-dark.min.css">
  <script src="/blog/assets/highlight.min.js"></script>
</head>
<body class="gruvbox">
  <main>
    <header class="entry">
      <a href="/">&larr;</a>

      {{if ne .Published .Revision}}
        <div class="dates">
          <time datetime="{{.Published}}"><b>Published</b> {{.Published}}</time>
          <time datetime="{{.Revision}}"><b>Last Revision</b> {{.Revision}}</time>
        </div>
      {{else}}
        <div class="dates">
          <time datetime="{{.Published}}"><b>Published</b> {{.Published}}</time>
        </div>
      {{end}}
    </header>

    {{.Body}}
  </main>
  {{template "footer"}}
  <script>hljs.highlightAll();</script>
</body>
</html>
{{end}}
