{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>germandv</title>
  <link rel="stylesheet" href="/blog/assets/main.css">
  <link rel="stylesheet" href="/blog/assets/github-dark.min.css">
  <script src="/blog/assets/highlight.min.js"></script>
</head>
<body class="gruvbox">
  <main>
    {{if ne .Published .Revision}}
      <div class="dates">
        <time datetime="{{.Published}}"><b>Published</b> {{.Published}}</time>
        <time datetime="{{.Revision}}"><b>Last Revision</b> {{.Revision}}</time>
      </div>
    {{else}}
      <div class="dates">
        <time datetime="{{.Published}}"><b>Published</b> {{.Published}}</time>
      </div>
    {{end}}

    {{.Body}}
  </main>
  <script>hljs.highlightAll();</script>
</body>
{{end}}
